<div class="main">
    <div class="footerBox">
        <div class="contacts">
            <h3>Contatos</h3>

            <h4>Camille</h4>
            <p>(00) 0.0000-0000</p>
            <p>xxxxxx@gmail.com</p>
            <br>
            <h4>Renée</h4>
            <p>(00) 0.0000-0000</p>
            <p>xxxxxx@gmail.com</p>
            <br>
        </div>

        <div class="social">
            <h3>Redes Sociais</h3>

            <p>@studio._cr</p>
            <p>@camille.grazielly14</p>
            <p>@reneeflavio</p>
        </div>

        <div class="hours">
            <h3>Horas</h3>

            <p>Segunda: 8:00 ás 18:00</p>
            <p>Terça: 8:00 ás 18:00</p>
            <p>Quarta: 8:00 ás 18:00</p>
            <p>Quinta: 8:00 ás 18:00</p>
            <p>Sexta: 8:00 ás 18:00</p>
            <p>Sábado: 8:00 ás 18:00</p>
        </div>
    </div>
</div>