@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
}

.newBox {
    align-items: center;
    text-align: center;
}

.welcome h1 {
    font-family: 'Jost', sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;

    color: #880E4F;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);

    margin-top: 3rem;
}

.carousel img {
    border: 3px solid #880E4F;
    border-radius: 5px;
}

.carrosel h2 {
    font-family: 'Jost', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    color: #880E4F;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.carrosel {
    margin-top: 2rem;
}

.imgCarossel {
    width: 30rem;
}

.boxInit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxInit h4 {
    margin-top: 22rem;
    text-align: center;
    color: #880E4F;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
    background-color: #FAB2C6;
    width: 30rem;
}

button {
    font-weight: 600;
    margin-top: 1rem;
    border: 1px solid #fff;

}

.helloPeople {
    background-image: url('src/assets/images/duo.png');
    background-repeat: no-repeat;
    background-position-x: left;
    margin-top: 4rem;
}

.boxAbout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxAbout h4 {
    font-family: 'Jost', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    text-align: left;

    color: #880E4F;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.boxAbout p {
    text-align: justify;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: 'Jost', sans-serif;
    background-color: #880E4F;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
}

.textAbout {
    margin-top: 10rem;
}

.interactiveAbout img {
    width: 35rem;
    padding-bottom: 10rem;
}

.footer {
    bottom: 0;
    width: 100%;
}

.boxInit mat-divider {
    border: 1px solid #880E4F;
    border-width: 3px;
    height: 35rem;
    margin-top: 5.5rem;
    padding-left: 1px;
    background-color: #fff;
    border-radius: 3px;
}

.midBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dividerPage {
    border: 1px solid #880E4F;
    border-width: 3px;
    width: 100%;
    border-radius: 3px;
    padding-top: 2px;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1200px) {
    .sizing img {
        display: none;
    }

}

@media (max-width: 1000px) {
    mat-divider {
        display: none;
    }

    .leftBox {
        width: 100%;
    }

    .newBox h1 {
        font-size: 5rem;
    }

}

@media (max-width: 800px) {


    .newBox h1 {
        display: none;
    }


    .helloPeople {
        background-image: url('src/assets/images/duo3.png');
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    .helloPeople h4 {
        font-size: 1.2rem;
        width: 100%;
    }

    .imgCarossel {
        width: auto;
    }

    .footer {
        width: 100%;
    }

    .interactiveAbout img {
        width: 100%;
    }

    .boxAbout h4 {
        text-align: center;
    }

    .boxAbout p {
        font-size: 1.2rem;
        padding: 5px;
        text-align: center;
    }
}