<div class="main">
    <div class="leftBox">
        <div class="sizing">
            <a href="#">
                <img class="logoSize" src="assets/images/Logo.png/" alt="">
            </a>
        </div>
        <mat-toolbar color="accent" class="teste">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
                <span class="navMenu">
                    <ul>
                        <li>
                            <a><button (click)="openDialogRecord()">Agendamento</button></a>
                        </li>
                        <li>
                            <a href="#sobre">Sobre</a>
                        </li>
                        <li>
                            <a routerLink="#">Cursos</a>
                        </li>
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=558189731961&text=Ol%C3%A1,%20tudo%20bem?"
                                target="_blank">
                                WhatsApp</a>
                        </li>
                        <li>
                            <a href="https://www.google.com.br/maps/place/R.+Marina+Menezes+Rodrigues,+8+-+Kennedy,+Caruaru+-+PE,+55036-400/@-8.2799816,-35.997311,21z/data=!4m6!3m5!1s0x7a98b8b8cb37539:0x8e2be5eb5631267b!8m2!3d-8.2798598!4d-35.9972845!16s%2Fg%2F11h0t8dfss"
                                target="_blank">Localização</a>
                        </li>
                    </ul>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
        <mat-toolbar color="accent" class="repons">
            <mat-toolbar-row>
                <span class="example-spacer"></span>
                <button class="menuIcon" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon class="large-icon">menu</mat-icon>
                </button>
                <div class="hamburguer">
                    <mat-menu #menu="matMenu" class="menuStyle" color="accent">
                        <span class="navMenu2">
                            <ul>
                                <li>
                                    <a><button (click)="openDialogRecord()">Agendamento</button></a>
                                </li>
                                <li>
                                    <a href="#sobre">Sobre</a>
                                </li>
                                <li>
                                    <a routerLink="#">Cursos</a>
                                </li>
                                <li>
                                    <a href="https://api.whatsapp.com/send?phone=558189731961&text=Ol%C3%A1,%20tudo%20bem?"
                                        target="_blank">
                                        WhatsApp</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com.br/maps/place/R.+Marina+Menezes+Rodrigues,+8+-+Kennedy,+Caruaru+-+PE,+55036-400/@-8.2799816,-35.997311,21z/data=!4m6!3m5!1s0x7a98b8b8cb37539:0x8e2be5eb5631267b!8m2!3d-8.2798598!4d-35.9972845!16s%2Fg%2F11h0t8dfss"
                                        target="_blank">Localização</a>
                                </li>
                            </ul>
                        </span>
                    </mat-menu>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
</div>